# Data Frame 데이터 살펴보기

**Data Frame**
~~~
Series가 1차원이라면 Data Frame은 2차원으로 확대된 버전
Excel spreadsheet이라고 생각하면 이해가 쉬움
2차원이기 때문에 인덱스가 row, column로 구성됨
     row는 각 개별 데이터를, column은 개별 속성을 의미
Data Analysis, Machine Learning에서 data 변형을 위해 가장 많이 사용
~~~

In [1]:
import pandas as pd

In [4]:
train_data=pd.read_csv('https://storage.googleapis.com/kagglesdsdata/datasets%2F4538%2F7213%2FETFs%2Facim.us.txt?GoogleAccessId=gcp-kaggle-com@kaggle-161607.iam.gserviceaccount.com&Expires=1594647728&Signature=lFmeWp48YnNV2GyhC0CHblaB%2FU7O1KC3HhLSNKWc1ZSfU45%2F21oD8PXDDVJ%2BmPZ92H1B7NqZ75r6QJtFl1ULj9UKAQl6%2BArz%2B%2F73o6rADXQpate3OTeN9L8SQHGFU3C6Y6cJ6a2yH1NFRWCtxU6DArlbDjAsE93iR75nsIJv9HHqoAnwhr3RpLhaQHFcyXuGZ8JYq%2FwIYvYESp%2BiaOeFLjFoOUpvQ43FycRyDBsQbdpm8qM8W20%2Fk0Oqax9d7RSj0GyYUI8FWDaTiUjjJllZSrUZG1fA5GeqO2w96BzindI26ALkulQWdQgQ6gXBY8n431gJmCNVM6xSo9vcDPUYhw%3D%3D')

**head, tail 함수**
~~~
데이터가 아닌, 일부(처음부터, 혹은 마지막부터 간단피 보기 위한 함수
~~~

In [5]:
train_data.head()

         Date    Open    High     Low   Close  Volume  OpenInt
0  2012-03-06  43.011  43.011  43.011  43.011     509        0
1  2012-03-07  43.162  43.162  43.162  43.162     113        0
2  2012-03-08  43.956  43.956  43.956  43.956     227        0
3  2012-03-12  43.885  43.885  43.885  43.885    1248        0
4  2012-03-13  45.880  45.880  44.555  44.555     227        0

In [6]:
train_data.head(n=3)   #n을 사용해서 개수를 조절 할 수 있다

         Date    Open    High     Low   Close  Volume  OpenInt
0  2012-03-06  43.011  43.011  43.011  43.011     509        0
1  2012-03-07  43.162  43.162  43.162  43.162     113        0
2  2012-03-08  43.956  43.956  43.956  43.956     227        0

In [7]:
train_data.tail(n=4)

            Date     Open     High     Low   Close  Volume  OpenInt
1228  2017-11-07  77.5026  77.5026  77.200  77.352   12471        0
1229  2017-11-08  77.3700  77.7200  77.138  77.720   13482        0
1230  2017-11-09  77.1300  77.1310  76.606  77.110    4038        0
1231  2017-11-10  76.5500  76.9000  76.550  76.900    6361        0

**Dataframe 데이터 파악하기**
~~~
shape 속성 (row, column)
describe 함수-숫자형 데이터 통계치 계산
Info 함수-데이터 타입, 각 아이템의 개수 등 출력
~~~

In [8]:
train_data.shape

(1232, 7)

In [9]:
train_data.describe()    #기본적인 통계값 알려줌

,Open,High,Low,Close,Volume,OpenInt
count,1232.000000,1232.000000,1232.000000,1232.000000,1232.000000,1232.0
mean,59.869573,60.146092,59.554480,59.849599,6142.261364,0.0
std,7.872922,7.923441,7.839604,7.880038,18757.944038,0.0
min,39.579000,39.579000,39.579000,39.579000,48.000000,0.0
25%,56.185000,56.745500,55.655000,56.191750,1045.000000,0.0
50%,60.725500,60.951000,60.365000,60.647000,2317.500000,0.0
75%,63.950000,64.323000,63.541500,63.950500,4871.750000,0.0
max,77.502600,77.720000,77.270000,77.720000,339261.000000,0.0

In [11]:
train_data.info()     #각각의 type과 개수를 알려줌

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1232 entries, 0 to 1231
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     1232 non-null   object
 1   Open     1232 non-null   float64
 2   High     1232 non-null   float64
 3   Low      1232 non-null   float64
 4   Close    1232 non-null   float64
 5   Volume   1232 non-null   int64
 6   OpenInt  1232 non-null   int64
dtypes: float64(4), int64(2), object(1)
memory usage: 67.5+ KB

# DataFrame 구조 이해하기

**인덱스 (index)**
~~~
index 속성: 절대로 중복 불가능
각 아이뎀을 특정할 수 있는 고유의 값을 저장
복잡한 데이터의 경우, 멀티 인덱스로 표현 가능
~~~

In [14]:
train_data.index

RangeIndex(start=0, stop=1232, step=1)

**컬럼(column)**
~~~
columns 속성
각각의 특성을 나타냄
복잡한 data의 경우, 멀티 컬럼으로 표현 가능
~~~

In [13]:
train_data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'OpenInt'], dtype='object')