# Series Data 연산
**같은 index 기준으로**

In [2]:
import numpy as np
import pandas as pd

In [3]:
s1=pd.Series([1,2,3,4],['a','b','c','d'])
s2=pd.Series([6,3,2,1],['d','c','b','a'])

s1

a    1
b    2
c    3
d    4
dtype: int64

In [4]:
s2

d    6
c    3
b    2
a    1
dtype: int64

In [5]:
s1+s2    #같은 값을 가지는 index끼리 값을 가짐

a     2
b     4
c     6
d    10
dtype: int64

**산술연산**
~~~
Series의 경우에도 스칼라와의 연산은 각 원소별로 스칼라와의 연산이 적용
Series와의 연산은 각 인덱스에 맞는 값끼리 연산 적용
    이때. index의 pair가 맞지 않으면 결과는 NaN
~~~

In [6]:
s1**2

a     1
b     4
c     9
d    16
dtype: int64

In [7]:
s1**s2

a       1
b       4
c      27
d    4096
dtype: int64

In [8]:
4**6

4096

**index pair가 맞지 않는 경우**
~~~
해당 index에 대해서는 NaN 값 생성
~~~

In [9]:
s1['k']=7
s2['e']=9

In [10]:
s1

a    1
b    2
c    3
d    4
k    7
dtype: int64

In [11]:
s2

d    6
c    3
b    2
a    1
e    9
dtype: int64

In [12]:
s1+s2    #연산이 불가능한 경우에는 NaN이라고 표시됨

a     2.0
b     4.0
c     6.0
d    10.0
e     NaN
k     NaN
dtype: float64