# DataFrame 데이터 생성

**DataFrame 생성하기**
~~~
일반적으로 분석을 위한 데이터는 다른 data source (database, 외부 파일)을 통해 dataframe을 생성
여기서는 실습을 통해, dummy data를 생성하는 방법을 다룸
~~~

In [1]:
import pandas as pd

**dictionart로 부터 생성하기**
~~~
dict의 key >>> column
~~~
~~~
없는 값들은 NaN이라고 표현
~~~

In [2]:
data={'a':100, 'b': 200, 'c': 300}
pd.DataFrame(data, index=['x','y','z'])

     a    b    c
x  100  200  300
y  100  200  300
z  100  200  300

**Seroes로 부터 생성하기**
~~~
각 Series의 index >>> column
~~~

In [4]:
a=pd.Series([100,200,300],['a','b','c'])
b=pd.Series([101,201,301],['a','b','c'])
c=pd.Series([110,210,310],['a','b','c'])

pd.DataFrame([a,b,c])   #pd.DataFrame([a,b,c], index=[100,101,102])라고 index 별도 명시하면 index 바꾸기 가능

     a    b    c
0  100  200  300
1  101  201  301
2  110  210  310

# 샘플 csv 데이터로 DataFrame 데이터 생성하기

**csv 데이터로 부터 DataFrame을 생성하는 가장 일반적인 방법**
~~~
데이터 분석을 위해, dataframe을 생성하는 가장 일반적인 방법
데이터 소스로부터 추출된 csv(comma separated values) 파일로부터 생성
pandas.read_csv 함수 사용
~~~

In [5]:
import pandas as pd

In [6]:
stock_data=pd.read_csv('https://storage.googleapis.com/kagglesdsdata/datasets%2F4538%2F7213%2FETFs%2Facim.us.txt?GoogleAccessId=gcp-kaggle-com@kaggle-161607.iam.gserviceaccount.com&Expires=1594647728&Signature=lFmeWp48YnNV2GyhC0CHblaB%2FU7O1KC3HhLSNKWc1ZSfU45%2F21oD8PXDDVJ%2BmPZ92H1B7NqZ75r6QJtFl1ULj9UKAQl6%2BArz%2B%2F73o6rADXQpate3OTeN9L8SQHGFU3C6Y6cJ6a2yH1NFRWCtxU6DArlbDjAsE93iR75nsIJv9HHqoAnwhr3RpLhaQHFcyXuGZ8JYq%2FwIYvYESp%2BiaOeFLjFoOUpvQ43FycRyDBsQbdpm8qM8W20%2Fk0Oqax9d7RSj0GyYUI8FWDaTiUjjJllZSrUZG1fA5GeqO2w96BzindI26ALkulQWdQgQ6gXBY8n431gJmCNVM6xSo9vcDPUYhw%3D%3D')

In [7]:
stock_data.head()

         Date    Open    High     Low   Close  Volume  OpenInt
0  2012-03-06  43.011  43.011  43.011  43.011     509        0
1  2012-03-07  43.162  43.162  43.162  43.162     113        0
2  2012-03-08  43.956  43.956  43.956  43.956     227        0
3  2012-03-12  43.885  43.885  43.885  43.885    1248        0
4  2012-03-13  45.880  45.880  44.555  44.555     227        0

**read_csv 함수 파라미터**
~~~
sep: 각 데이터 값을 구별하기 위한 구분자 (separator) 설정
header: header를 무시할 경우, None 설정
index_col: index로 사용할 column 설정
usecols: 실제로 dataframe에 로딩할 column만 설정
~~~

~~~
해당 data가 ,를 기준으로 separated되지 않는다면 (=csv가 아니라면) 
stock_data=pd.read_csv('', sep=',')라는 코드로 바꿀 수 있다
~~~

~~~
stock_data=pd.read_csv('',index_col='')    #index를 무엇으로 할 건지를 지정할 수 있다
stock_data=pd.read_csv('',usecols=['', '', '', ''])    #index를 포함한 호출하고 싶은 데이터 지정
~~~